/* ------------ Trail Description Component CSS ------------ */
.trailDesc {
    background: #dfdfdf;
    margin: 40px 0;
    min-height: 200px;
}

.col.tags span {
  background: rgba(127, 127, 127, 0.5);
  border-radius: 5px;
  display: inline-block;
  font-size: small;
  margin: 2px;
  padding: 3px;
}

.stats {
  margin-bottom: 15px;
}

.stats div div {
  border: 1px solid #000;
}
