/* ------------ Trail Description Component CSS ------------ */
.col.tags span {
  background: rgba(127, 127, 127, 0.5);
  border-radius: 5px;
  display: inline-block;
  font-size: small;
  margin: 2px;
  padding: 3px;
}

.stats {
  margin-bottom: 15px;
}

.stats div div {
  border: 1px solid #000;
}
